/*Your styles can go here.*/


body {
    background-color: blue;
}
   
.last-name{
    font-weight: bold;
}

#instructions {
    border-style: solid;
}

#yellow{
    background-color: yellow;
}

#submit {
    background-color: yellow;
}

